## Example Notebook - Test Local Library

https://stackoverflow.com/questions/34478398/import-local-function-from-a-module-housed-in-another-directory-with-relative-im

In [1]:
cd ..

D:\Google Drive\Data Vault\GitHub\autoassume

In [2]:
from src.autoassume import Checker
from src.autoassume.datasets import load_data

In [3]:
df = load_data('Fish', processed=False)
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
assume = Checker(df, target='Weight', 
                 categorical_features=['Species'],
                 categorical_encoder='ohe')
assume.report()

In [5]:
# df = load_data('Insurance', processed=False)
# assume = Checker(df, target='charges', categorical_encoder='ohe')
# assume.report()